*{

    margin: 0;
 
    padding: 0;
 
    box-sizing: border-box;
 
    font-family: Gill Sans MT;
 
 }
 
 body{
 
    width: 100%;
 
    height: 100vh;
 
    background:  whitesmoke;
 
 }
 .categories {
 
    background: white;
 
    overflow: auto;
 
    position: sticky;
 
    top:0;
 
    left: 0;
 
    padding: 15px 0;
 
    white-space: nowrap;
 
 }